:root {
    --background-color: #31c7ff!important;
    --color-link: #1a90f1!important;
    --color-white: #fff!important;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #e3e3e3;
}

::placeholder {
    color: #495057;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #495057;
}

::-ms-input-placeholder {
    color: #495057;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kiloji';
    src: url('../fonts/Kiloji/kiloji.ttf');
    font-weight: normal;
    font-style: normal;
}

.toastr {
    border: none !important;
}

.c-header.c-header-fixed {
    top: 0;
}

.c-auth {
    position: relative;
    top: 50%;

    .lbt-login {
        text-align: center;
        font-weight: 500;
    }

    .btn-auth {
        width: 100%;
        font-size: 18px;
        background-color: var(--background-color);
        border: 2px solid transparent!important;
        font-weight: 500;
    }

    .btn-auth:hover {
        background: none!important;
        border: 2px solid var(--background-color);
        color: var(--background-color);
    }
}

.c-style-app {
    background: #ffffff;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .sidebar {
        .sidebar-brand {
            background-color: var(--color-link);
        }

        .sidebar-nav {
            background-color: var(--background-color);
        }

        .sidebar-nav::-webkit-scrollbar {
            width: 12px;
            background-color: var(--background-color);
        }

        .sidebar-nav::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
            background-color: #fff;
        }

        .nav-link {
            color: rgba(255, 255, 255, 1);
            padding: 0.8445rem 0.7rem !important;

            &:hover,
            &.active {
                background-color: #1a90f17a;
            }
        }

        .nav-icon,
        .nav-group {
            color: rgba(255, 255, 255, 1);
        }

        .c-sidebar-minimizer {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(7, 61, 134, 1);
        }

        .sidebar-toggler {
            background-color: var(--color-link);
        }
    }

    .header {
        background-color: var(--background-color);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        .header-top {
            padding: 4px 20px 12px;
        }

        .header-toggler {
            color: #fff;
        }

        .header-menu {
            height: 49px;
            background: #fff;
        }

        .avatar {
            background-color: #fff;
        }

        .breadcrumb-item a {
            color: var(--color-link) !important;
        }
    }

    .body {
        transition: margin .3s;

        .container-lg {
            margin: 0;
            max-width: 100%;
        }

        &.body-content {
            margin-left: 256px;
        }

        .card {
            .card-body {
                border-bottom-left-radius: calc(0.375rem - 1px);
                border-bottom-right-radius: calc(0.375rem - 1px);
                background-color: #fff;
            }

            .card-header {
                display: flex !important;
                justify-content: space-between !important;
                align-items: center !important;
            }

            .title-error {
                justify-content: center!important;
            }

            .table-responsive .table {
                min-width: 600px;
            }
        }
    }

    .tagify.form-control {
        height: calc(1.6em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        margin: 0;
    }

    .tagify {
        .tagify__input {
            padding: 2px 0 0;
            margin: 0;
        }

        .tagify__tag {
            margin: 0.1rem 0 0;
        }
    }

    .tagify {
        .badge {
            line-height: 1.3;
        }

        .tagify__tag {
            div {
                width: max-content !important;
            }


        }

        .tagify__tag-text {
            max-width: 300px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    @media (min-width: 1366px) {
        .col-xlg {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
        }

        .row-cols-xlg-1>* {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .row-cols-xlg-2>* {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .row-cols-xlg-3>* {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .row-cols-xlg-4>* {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .row-cols-xlg-5>* {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .row-cols-xlg-6>* {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }

        .col-xlg-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .col-xlg-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }

        .col-xlg-2 {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }

        .col-xlg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-xlg-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-xlg-5 {
            flex: 0 0 41.6666666667%;
            max-width: 41.6666666667%;
        }

        .col-xlg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-xlg-7 {
            flex: 0 0 58.3333333333%;
            max-width: 58.3333333333%;
        }

        .col-xlg-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }

        .col-xlg-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .col-xlg-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }

        .col-xlg-11 {
            flex: 0 0 91.6666666667%;
            max-width: 91.6666666667%;
        }

        .col-xlg-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .order-xlg-first {
            order: -1;
        }

        .order-xlg-last {
            order: 13;
        }

        .order-xlg-0 {
            order: 0;
        }

        .order-xlg-1 {
            order: 1;
        }

        .order-xlg-2 {
            order: 2;
        }

        .order-xlg-3 {
            order: 3;
        }

        .order-xlg-4 {
            order: 4;
        }

        .order-xlg-5 {
            order: 5;
        }

        .order-xlg-6 {
            order: 6;
        }

        .order-xlg-7 {
            order: 7;
        }

        .order-xlg-8 {
            order: 8;
        }

        .order-xlg-9 {
            order: 9;
        }

        .order-xlg-10 {
            order: 10;
        }

        .order-xlg-11 {
            order: 11;
        }

        .order-xlg-12 {
            order: 12;
        }

        .offset-xlg-0 {
            margin-left: 0;
        }

        .offset-xlg-1 {
            margin-left: 8.3333333333%;
        }

        .offset-xlg-2 {
            margin-left: 16.6666666667%;
        }

        .offset-xlg-3 {
            margin-left: 25%;
        }

        .offset-xlg-4 {
            margin-left: 33.3333333333%;
        }

        .offset-xlg-5 {
            margin-left: 41.6666666667%;
        }

        .offset-xlg-6 {
            margin-left: 50%;
        }

        .offset-xlg-7 {
            margin-left: 58.3333333333%;
        }

        .offset-xlg-8 {
            margin-left: 66.6666666667%;
        }

        .offset-xlg-9 {
            margin-left: 75%;
        }

        .offset-xlg-10 {
            margin-left: 83.3333333333%;
        }

        .offset-xlg-11 {
            margin-left: 91.6666666667%;
        }

        .center-row-screen-delete {
            display: flex;
            justify-content: center;
            margin-left: 2% !important;
        }
    }

    @media (min-width: 1600px) {
        .col-xlm {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        .row-cols-xlml-1>* {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .row-cols-xlm-2>* {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .row-cols-xlm-3>* {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .row-cols-xlm-4>* {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .row-cols-xlm-5>* {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .row-cols-xlm-6>* {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }

        .col-xlm-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .col-xlm-1 {
            flex: 0 0 8.33333333%;
            max-width: 8.33333333%;
        }

        .col-xlm-2 {
            flex: 0 0 16.66666667%;
            max-width: 16.66666667%;
        }

        .col-xlm-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-xlm-4 {
            flex: 0 0 33.33333333%;
            max-width: 33.33333333%;
        }

        .col-xlm-5 {
            flex: 0 0 41.66666667%;
            max-width: 41.66666667%;
        }

        .col-xlm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-xlm-7 {
            flex: 0 0 58.33333333%;
            max-width: 58.33333333%;
        }

        .col-xlm-8 {
            flex: 0 0 66.66666667%;
            max-width: 66.66666667%;
        }

        .col-xlm-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .col-xlm-10 {
            flex: 0 0 83.33333333%;
            max-width: 83.33333333%;
        }

        .col-xlm-11 {
            flex: 0 0 91.66666667%;
            max-width: 91.66666667%;
        }

        .col-xlm-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .order-xlm-first {
            order: -1;
        }

        .order-xlm-last {
            order: 13;
        }

        .order-xlm-0 {
            order: 0;
        }

        .order-xlm-1 {
            order: 1;
        }

        .order-xlm-2 {
            order: 2;
        }

        .order-xlm-3 {
            order: 3;
        }

        .order-xlm-4 {
            order: 4;
        }

        .order-xlm-5 {
            order: 5;
        }

        .order-xlm-6 {
            order: 6;
        }

        .order-xlm-7 {
            order: 7;
        }

        .order-xlm-8 {
            order: 8;
        }

        .order-xlm-9 {
            order: 9;
        }

        .order-xlm-10 {
            order: 10;
        }

        .order-xlm-11 {
            order: 11;
        }

        .order-xlm-12 {
            order: 12;
        }

        .offset-xlm-0 {
            margin-left: 0;
        }

        .offset-xlm-1 {
            margin-left: 8.33333333%;
        }

        .offset-xlm-2 {
            margin-left: 16.66666667%;
        }

        .offset-xlm-3 {
            margin-left: 25%;
        }

        .offset-xlm-4 {
            margin-left: 33.33333333%;
        }

        .offset-xlm-5 {
            margin-left: 41.66666667%;
        }

        .offset-xlm-6 {
            margin-left: 50%;
        }

        .offset-xlm-7 {
            margin-left: 58.33333333%;
        }

        .offset-xlm-8 {
            margin-left: 66.66666667%;
        }

        .offset-xlm-9 {
            margin-left: 75%;
        }

        .offset-xlm-10 {
            margin-left: 83.33333333%;
        }

        .offset-xlm-11 {
            margin-left: 91.66666667%;
        }
    }

    @media (max-width: 575px) {
        .col-sms {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 0;
            max-width: 100%;
        }

        .row-cols-sms-1>* {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .row-cols-sms-2>* {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .row-cols-sms-3>* {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .row-cols-sms-4>* {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .row-cols-sms-5>* {
            flex: 0 0 20%;
            max-width: 20%;
        }

        .row-cols-sms-6>* {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }

        .col-sms-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        .col-sms-1 {
            flex: 0 0 8.3333333333%;
            max-width: 8.3333333333%;
        }

        .col-sms-2 {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }

        .col-sms-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-sms-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-sms-5 {
            flex: 0 0 41.6666666667%;
            max-width: 41.6666666667%;
        }

        .col-sms-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-sms-7 {
            flex: 0 0 58.3333333333%;
            max-width: 58.3333333333%;
        }

        .col-sms-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }

        .col-sms-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        .col-sms-10 {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }

        .col-sms-11 {
            flex: 0 0 91.6666666667%;
            max-width: 91.6666666667%;
        }

        .col-sms-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .order-sms-first {
            order: -1;
        }

        .order-sms-last {
            order: 13;
        }

        .order-sms-0 {
            order: 0;
        }

        .order-sms-1 {
            order: 1;
        }

        .order-sms-2 {
            order: 2;
        }

        .order-sms-3 {
            order: 3;
        }

        .order-sms-4 {
            order: 4;
        }

        .order-sms-5 {
            order: 5;
        }

        .order-sms-6 {
            order: 6;
        }

        .order-sms-7 {
            order: 7;
        }

        .order-sms-8 {
            order: 8;
        }

        .order-sms-9 {
            order: 9;
        }

        .order-sms-10 {
            order: 10;
        }

        .order-sms-11 {
            order: 11;
        }

        .order-sms-12 {
            order: 12;
        }

        .offset-sms-0 {
            margin-left: 0;
        }

        .offset-sms-1 {
            margin-left: 8.3333333333%;
        }

        .offset-sms-2 {
            margin-left: 16.6666666667%;
        }

        .offset-sms-3 {
            margin-left: 25%;
        }

        .offset-sms-4 {
            margin-left: 33.3333333333%;
        }

        .offset-sms-5 {
            margin-left: 41.6666666667%;
        }

        .offset-sms-6 {
            margin-left: 50%;
        }

        .offset-sms-7 {
            margin-left: 58.3333333333%;
        }

        .offset-sms-8 {
            margin-left: 66.6666666667%;
        }

        .offset-sms-9 {
            margin-left: 75%;
        }

        .offset-sms-10 {
            margin-left: 83.3333333333%;
        }

        .offset-sms-11 {
            margin-left: 91.6666666667%;
        }

        .btn-export {
            width: 100%;
        }

        .btn-h {
            width: 100%;
        }

        .width-100 {
            min-width: 100px !important;
        }

        .width-140 {
            min-width: 140px !important;
        }

        .width-170 {
            min-width: 170px !important;
        }
    }

    @media (max-width: 1365px) {
        .padding-status {
            padding-top: 20px;
        }
    }

    .login {
        background: var(--background-color);
        position: relative;
        width: 100%;
        display: flex;
        height: 50%;

        h2.title {
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
            position: absolute;
            bottom: 50%;
            font-size: 2.4em;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
        }
    }
}

.logo {
    max-width: 100% !important;
}

.width-100 {
    width: 100px !important;
}

.form-control.error {
    width: 100% !important;
    border-color: #dc3545 !important;
    padding-right: calc(1.6em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.5rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(251, 0, 0, 0.52) !important;
}

label.error {
    color: #FF0808;
    font-size: 14px;
    line-height: 21px;
}

.center-row {
    display: flex;
    justify-content: center
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.date .input-group-addon {
    width: auto;
    min-width: 20px;
    padding: 8px;
    line-height: 1.42857143;
    margin-left: -30px;
    border: 1px solid #000000;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.date .month {
    width: auto;
    height: calc(1.6em + 0.75rem + 4px);
    padding-left: 10px;
    border: 1px solid #000000;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.date .month.is-invalid,
.date .month.error {
    border-color: #FF0808 !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(251, 0, 0, 0.52) !important;
    background-size: calc(1.5em + 0.375rem) calc(0.75em + 0.375rem);
}

.date .month:focus {
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.fs-25 {
    font-size: 25px;
}

.left-row {
    display: flex;
    justify-content: left;
}

.right-row {
    display: flex;
    justify-content: right;
}

input.form-control,
select.form-control,
input.form-control:focus,
select.form-control:focus {
    background: #ffffff;
}

select {
    background: url('../images/arrow.png') no-repeat right !important;
    appearance: none !important;
    background-size: 25px 25px !important;
    background-position: 99% 50% !important;
}

.auth {
    display: flex;
    height: calc(100vh - 50px) !important;
}

.mtb-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    justify-content: center;
    background-color: var(--background-color);
    color: #fff;
    border: none;
}

.font-weight-bold {
    font-weight: 700 !important
}

.btn {
    &-primary {
        background-color: var(--color-link)!important;
        border-color: var(--color-link) !important;
    }

    &-primary:hover {
        background-color: #0069d9 !important;
    }

    &-search {
        border-radius: 0 !important;
        background-color: var(--color-link) !important;
        border-color: var(--color-link) !important;
        color: #fff !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }

    &-search:hover {
        background-color: #0069d9 !important;
    }
}

.badge-success {
    color: #fff;
    background-color: var(--background-color);
    padding-bottom: 8px;
}

.text {
    &-center {
        text-align: center !important;
    }

    &-end {
        text-align: end !important;
    }

    &-start {
        text-align: start !important;
    }

    &-justify {
        text-align: justify !important;
    }

    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }
}

.table {
    color: #000 !important;

    th,
    td {
        vertical-align: middle !important;

        p,
        ul {
            margin-bottom: 0 !important;
        }

        background-color: transparent !important;
    }

    //td {
    //    a {
    //        color: var(--color-link) !important;
    //    }
    //}

    th {
        a {
            color: #fff !important;
        }
    }

    thead {
        tr {
            background-color: var(--background-color);
            color: #27ee37 !important;
        }
    }

    tbody {
        // tr:nth-of-type(odd) {
        //     background-color: #EFF6FF !important;
        // }

        tr:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        }
    }
}

.d {
    &-flex {
        display: flex !important;
    }

    &-block {
        display: block !important;
    }

    &-none {
        display: none !important;
    }

    &-inline-block {
        display: inline-block !important;
    }

    &-inline-flex {
        display: inline-flex !important;
    }

    &-grid {
        display: grid !important;
    }
}

.jt-cont {
    &-sp-bw {
        justify-content: space-evenly;
    }

    &-sp-ct {
        justify-content: center;
    }

    &-sp-l {
        justify-content: left;
    }

    &-sp-r {
        justify-content: right;
    }

    &-sp-fle {
        justify-content: flex-end;
    }

    &-sp-flst {
        justify-content: flex-start;
    }
}

.cl {
    &-red {
        color: #FF0808 !important;
    }

    &-blue {
        color: var(--color-link) !important;
    }

    &-green {
        color: #2eb85c !important;
    }

    &-while {
        color: #fff !important;
    }

    &-black {
        color: #000 !important;
    }
}

.fl {
    &-right {
        float: right !important;
    }

    &-left {
        float: right !important;
    }
}

.bgr-cl {
    &-red {
        background-color: #FF0808 !important;
    }

    &-blue {
        background-color: #31c7ff !important;
    }

    &-while {
        background-color: #fff !important;
    }

    &-black {
        background-color: #000 !important;
    }
}

.input-option {

    input,
    select {
        display: none !important;
    }

    input.active {
        display: block !important;
    }

    select.active {
        display: block !important;
    }
}

.fw {
    &-bold {
        font-weight: bold !important;
    }

    &-bolder {
        font-weight: bolder !important;
    }

    &-lighter {
        font-weight: lighter !important;
    }

    &-normal {
        font-weight: normal !important;
    }

    &-bold {
        font-weight: unset !important;
    }

    &-inherit {
        font-weight: inherit !important;
    }

    &-initial {
        font-weight: initial !important;
    }

    &-100 {
        font-weight: 100 !important;
    }

    &-200 {
        font-weight: 200 !important;
    }

    &-300 {
        font-weight: 300 !important;
    }

    &-400 {
        font-weight: 400 !important;
    }

    &-500 {
        font-weight: 500 !important;
    }

    &-600 {
        font-weight: 600 !important;
    }

    &-700 {
        font-weight: 700 !important;
    }

    &-800 {
        font-weight: 800 !important;
    }

    &-900 {
        font-weight: 900 !important;
    }
}

.close {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}

//sort
.asc:after {
    content: " ↓";
    font-size: 16px;
}

.desc:after {
    content: " ↑";
    font-size: 16px;
}
//end sort

html:not([dir=rtl]) .pagination {
    padding-left: 0;
    overflow-x: auto;
}

.pagination {
    .page-item .page-link {
        color: var(--color-link) !important;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff!important;
        background-color: var(--background-color);
        border-color: var(--background-color);
    }
}

//set width - height
.h-auto {
    height: auto !important;
    min-height: calc(1.6em + 0.75rem + 2px);
    max-height: 300px;
    overflow: auto;
}

.min-h-100 {
    min-height: 100px;
}

.width-30 {
    width: 30px;
}

.width-50 {
    width: 50px;
}

.width-80 {
    width: 80px;
}

.width-100 {
    width: 100px !important;
}

.width-120 {
    width: 120px;
}

.width-150 {
    width: 150px;
}

.width-170 {
    width: 170px;
}

.width-300 {
    width: 300px;
}

.width-500 {
    width: 500px;
}

.height-20 {
    height: 20px;
}

.min-width-80 {
    min-width: 80px;
}

.min-width-100 {
    min-width: 100px;
}

.min-width-250 {
    min-width: 250px;
}

.min-width-300 {
    min-width: 300px;
}

.max-width-50 {
    max-width: 50px;
}

.max-width-80 {
    max-width: 80px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-250 {
    max-width: 250px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-400 {
    max-width: 400px;
}

.min-height-100 {
    min-height: 100px;
}

.min-height-400 {
    min-height: 400px;
}

.max-height-500 {
    max-height: 500px;
}
//end set width - height

.btn-primary {
    background-color: var(--background-color)!important;
    border: 1px solid transparent!important;
    color: var(--color-white)!important;
}

.btn-primary:hover {
    background: none!important;
    border: 1px solid var(--background-color)!important;
    color: var(--background-color)!important;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--cui-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--background-color)!important;
}

.per-margin {
    margin-bottom: 50px;
}

.form-check-input:checked {
    background-color: var(--background-color)!important;
    border-color: var(--background-color)!important;
}

.form-check.disable-checkbox {
    display: block!important;
    pointer-events: none!important;
}

.form-check.disable-checkbox .form-check-input {
    background-color: #ededed!important;
}
