.width {
    &-70{
        width: 70px !important;
    }
}
.required {
    color: red !important;
}
.image-product{
    width: 40% !important;
    object-fit: cover;
}
.product-list {
    list-style-type: none;
    padding-left: 0;
}

.product-list li::before {
    content: " - ";
}
.image-category{
    width: -webkit-fill-available !important;
    margin-top: calc(0.375rem + var(--cui-border-width));
    margin-bottom: calc(0.375rem + var(--cui-border-width));
}
